*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 200, 0);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px white,-5px -5px 10px white;

}

.upper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#btn{
    border-radius: 10px;
    background-color: rgb(226, 110, 43);
    font-size: medium;
    padding: 10px;
}

.output{
    border-top: 2px solid black;
    padding-top: 50px;
    text-align: center;
    font-size: 40px;

}



